/Generics/Generics.BinaryTrees.csproj/obj
/Generics/Generics.BinaryTrees.csproj/bin
/Generics/Generics.Robots.csproj/obj
/Generics/Generics.Robots.csproj/bin
/Generics/Generics.Tables.csproj/obj
/Generics/Generics.Tables.csproj/bin
/Incapsulation/Incapsulation.EnterpriseTask.csproj/obj
/Incapsulation/Incapsulation.EnterpriseTask.csproj/bin
/Incapsulation/Incapsulation.Failures.csproj/obj
/Incapsulation/Incapsulation.Failures.csproj/bin
/Incapsulation/Incapsulation.RationalNumbers.csproj/obj
/Incapsulation/Incapsulation.RationalNumbers.csproj/bin
/Incapsulation/Incapsulation.Weights.csproj/bin
/Incapsulation/Incapsulation.Weights.csproj/obj
/Inheritance/Inheritance.DataStructure.csproj/obj
/Inheritance/Inheritance.DataStructure.csproj/bin
/Inheritance/Inheritance.MapObjects.csproj/obj
/Inheritance/Inheritance.MapObjects.csproj/bin
